@font-face {
    font-family: "Playfair Display Medium";
    src:
        url("font/PlayfairDisplay-Medium.ttf") format("ttf"),
        url("font/PlayfairDisplay-Medium.woff") format("woff"),
        url("font/PlayfairDisplay-Medium.woff2") format("woff2"),
        url("font/PlayfairDisplay-Medium.svg") format("svg");
    font-weight: 500;
}

@font-face {
    font-family: "Playfair Display SemiBold";
    src:
        url("font/PlayfairDisplay-SemiBold.ttf") format("ttf"),
        url("font/PlayfairDisplay-SemiBold.woff") format("woff"),
        url("font/PlayfairDisplay-SemiBold.woff2") format("woff2"),
        url("font/PlayfairDisplay-SemiBold.svg") format("svg");
    font-weight: 600;
}

@font-face {
    font-family: "Playfair Display Regular";
    src:
        url("font/PlayfairDisplay-Regular.ttf") format("ttf"),
        url("font/PlayfairDisplay-Regular.woff") format("woff"),
        url("font/PlayfairDisplay-Regular.woff2") format("woff2"),
        url("font/PlayfairDisplay-Regular.svg") format("svg");
    font-weight: 400;
}

body {
    font-family: "Playfair Display Regular", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    margin-right: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-title {
    color: #000;
    font-family: "Playfair Display";
    font-size: 86px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-decoration: none;
    margin-top: 16px;
    margin-left: 20px;
}
    
.nav-part, .line, .title-testimonials {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.menu {
    width: 1195px;
    height: 105px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
.uniq {
    margin-right: 15px;
}

.line {
    text-decoration-line: underline;
}

.hero-section {
    background-size: cover;
    background-image: url(img/Mod-studio-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 360px;
    padding-top: 136px;
    padding-bottom: 134px;
    margin: 0 auto;
}
.hero-element {
    box-sizing: border-box;
    width: 690px;
    height: 360px;
    padding: 110px 20px;
    background-color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #000;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.title-description {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 14px;
}

.title-biography {
    color: #000;
    text-align: right;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.director-name {
    color: #000;
    font-family: "Playfair Display";
    font-size: 86px;
    font-style: normal; 
    font-weight: 500;
    line-height: normal;
}

.qualification-katya {
    color: #0D0D0D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style-type: none;
}

.quote-biography {
    color: #0D0D0D;
    font-family: Bitter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.designers-section {
    max-width: 1440px;
    margin: 0 auto;
}
.slider {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    align-items: end;
    overflow: scroll;
    scroll-behavior: smooth;
    padding-left: 22px;
}
p.bold-part-text, .skills > li {
    padding: 0;
    margin: 0;
    margin-right: 5px;
}
.img-designers {
    margin-bottom: 24px;
}
.skills-designers {
    display: flex;
    margin-bottom: 5px;
}
.designer-jess-wonder > p {
    text-align: center;
    margin-left: 85px;
}
.designer-jess-wonder > h3 {
    text-align: center;
    margin-left: 25px;
}
.skills-designer-jess {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 142px;

}
ul.skills {
    display: flex;
}
.title-design {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    margin-left: 112px;
}

.name-designer {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.bold-part-text {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.skills {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.feedback {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.web {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quote-testimonials {
    color: #000;
    text-align: center;
    font-family: Bitter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-strong-points {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-strengths {
    color: #000;
    font-family: "Playfair Display";
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.strengths-list {
    color: #000;
    font-family: Bitter;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    background-color: #0D0D0D;
}

address {
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    text-decoration-line: underline;
    text-transform: uppercase;
}

.product {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bold-title {
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.rights {
    color: var(--White, #FFF);
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}