/* @font-face {
    font-family: "Playfair Display Medium";
    src:
        url("../PlayfairDisplay-Medium.ttf") format("ttf"),
        url("../PlayfairDisplay-Medium.woff") format("woff"),
        url("../PlayfairDisplay-Medium.woff2") format("woff2"),
        url("../PlayfairDisplay-Medium.svg") format("svg");
    font-weight: 500;
} */

/* @font-face {
    font-family: "Playfair Display SemiBold";
    src:
        url("../PlayfairDisplay-SemiBold.ttf") format("ttf"),
        url("../PlayfairDisplay-SemiBold.woff") format("woff"),
        url("../PlayfairDisplay-SemiBold.woff2") format("woff2"),
        url("../PlayfairDisplay-SemiBold.svg") format("svg");
    font-weight: 600;
} */

/* @font-face {
    font-family: "Playfair Display Regular";
    src:
        url("../PlayfairDisplay-Regular.ttf") format("ttf"),
        url("../PlayfairDisplay-Regular.woff") format("woff"),
        url("../PlayfairDisplay-Regular.woff2") format("woff2"),
        url("../PlayfairDisplay-Regular.svg") format("svg");
    font-weight: 400;
} */