/* @font-face {
    font-family: "Playfair Display Medium";
    src:
        url("../PlayfairDisplay-Medium.ttf") format("ttf"),
        url("../PlayfairDisplay-Medium.woff") format("woff"),
        url("../PlayfairDisplay-Medium.woff2") format("woff2"),
        url("../PlayfairDisplay-Medium.svg") format("svg");
    font-weight: 500;
} */
/* @font-face {
    font-family: "Playfair Display SemiBold";
    src:
        url("../PlayfairDisplay-SemiBold.ttf") format("ttf"),
        url("../PlayfairDisplay-SemiBold.woff") format("woff"),
        url("../PlayfairDisplay-SemiBold.woff2") format("woff2"),
        url("../PlayfairDisplay-SemiBold.svg") format("svg");
    font-weight: 600;
} */
/* @font-face {
    font-family: "Playfair Display Regular";
    src:
        url("../PlayfairDisplay-Regular.ttf") format("ttf"),
        url("../PlayfairDisplay-Regular.woff") format("woff"),
        url("../PlayfairDisplay-Regular.woff2") format("woff2"),
        url("../PlayfairDisplay-Regular.svg") format("svg");
    font-weight: 400;
} */
.header__navigation {
  display: flex;
  justify-content: space-between;
  max-width: 1700px;
  margin: 0 auto;
}

.header__logo {
  font-family: "Playfair Display";
  font-size: 86px;
  font-style: normal;
  font-weight: font-weight;
  line-height: 120%;
  color: #000;
  text-decoration: none;
  margin-top: 16px;
  margin-left: 20px;
}

.header__logo:focus {
  outline: none;
}

.menu-list__link,
.line,
.testimonials__title {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.menu-list {
  width: 100%;
  height: 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}

.menu-list__item {
  padding: 2%;
}

.menu-list__item--uniq {
  padding: 2%;
  margin-right: 2%;
}

.menu-list__link:hover {
  text-decoration: underline;
}

.menu-list__link:focus {
  outline: 4px double lightblue;
}

.contact-form {
  width: 64.5px;
  height: 54px;
  background-color: #000;
  margin: auto;
  margin-right: 2%;
  border-radius: 5px;
  transition: transform 0.2s ease;
  transition: background-color 0.1s linear;
}

.contact-form:hover {
  transform: scale(1.03);
  outline: 2px lightblue;
  box-shadow: 0 0 2px 2px lightblue;
}

.contact-form:focus {
  outline: 3px solid lightblue;
  transform: scale(1.05);
}

.contact-form:active {
  border: 1px solid lightblue;
  background-color: lightskyblue;
  transform: scale(0.95);
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .header__navigation {
    transform: scale(0.75);
  }
  .menu-list {
    flex-wrap: nowrap;
    align-items: center;
  }
  .header__logo {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .body {
    padding-bottom: 82px;
  }
  .header {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
  .header__navigation {
    display: flex;
    align-items: center;
    height: 82px;
    background-color: #FFF;
    border: 1px solid #000;
    margin-bottom: 0.2%;
  }
  .header__logo {
    display: none;
  }
  .menu-list {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
  }
  .menu-list__item {
    width: 23px;
    text-overflow: clip;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .menu-list__link {
    font-weight: 400;
    font-size: 40px;
  }
  .menu-list__item--uniq {
    width: 23px;
    text-overflow: clip;
    overflow: hidden;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
}/*# sourceMappingURL=navigation.css.map */